[submodule "revent/lib/forge-std"]
	path = revent/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "revent/lib/openzeppelin-contracts"]
	path = revent/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contract/lib/openzeppelin-contracts"]
	path = contract/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contract/lib/openzeppelin-contracts-upgradeable"]
	path = contract/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/Openzeppelin/openzeppelin-contracts-upgradeable
